html, body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    width: 375px;
    margin: 0 auto;
    background-color: #C6C6C6;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}
.post-container {
    background-color: #fff;
    margin-bottom: 24px;
}

.header {
    background-color: #fff;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c6c6c6;
}

.logo {
    width: 128px;
}

.profile {
    width: 34px;
    border-radius: 50%;
}

.post-profile {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.post-body {
    padding: 16px 0 16px 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.post-image {
    width: 100%;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
}

.font-bold {
    font-weight: 700;
}